page-my-progress {
    .background{
        background: #55acee;
    }
    .heading{
        color: teal;
    }
    .body{
        color: violet;
    }
    .body2{
        color:rgb(120, 71, 255);
    }
}
