page-product-list{
    .p{
        color:chocolate
    }
    .h4{
        color:darkslateblue
    }
    .ion-item .item-inner {
        border-top: 2px;
        border-bottom: 0px!important;
     }
     
     
        .ion-item {
            border-top: none;
            border-bottom: none;
         }
}